.container {
  display: grid;
 grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}
.item-c {
  grid-column: 3 / span 2;
  grid-row: third-line / 4;
}
header{
	font-size: 200%
}
h1,p{
font-family: ariel;
}
body{
	background-color:#dddddd;
}
.bild{
float:left;	
}
